<!DOCTYPE html>
{{! vim: set et sw=2 ts=2: }}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>nodash apidoc</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    type="text/css" />
  <link rel="stylesheet" type="text/css" href="apidoc.css">
</head>
<body>

<div class="search">
  <input type="text" id="search-field" placeholder="Search..." autofocus>
</div>

<div class="sidebar">

{{#groups}}
<h6><a href="#g-{{id}}">{{name}}</a></h6>
<ul class="list-unstyled">
{{#functions}}
  <li><a href="#f-{{name}}">
    <span class="name">{{name}}</span>
    {{#aliases}}<span class="alias label label-primary">{{.}}</span>{{/aliases}}
  </a></li>
{{/functions}}
</ul>
{{/groups}}

</div>

<div class="content">

<h1>nodash {{version}} <small>api documentation</small></h1>

<p>This is the API documentation for nodash {{version}}.</p>

<p>Don't miss the <a href="#Appendix">Appendix</a>.</p>

{{#groups}}

<h2 id="g-{{id}}">{{name}}</h1>
{{& primer}}

{{#functions}}
<div class="function well" id="f-{{name}}">

  <h3>
    {{name}}
    <small>
      {{#aliases}}<span class="alias label label-primary">{{.}}</span>{{/aliases}}
      {{#preludeName}}
        <span class="label label-warning">Prelude: {{.}}</span>
      {{/preludeName}}
    </small>
  </h3>

  {{& documentation}}

  {{#haskellDef}}
  <p>Haskell Definition:</p>
  <pre>{{& haskellDef}}</pre>
  {{/haskellDef}}

  {{#source}}
  <p>Source:</p>
  <pre>{{& source}}</pre>
  {{/source}}

</div>
{{/functions}}

{{/groups}}


<h1 id="Appendix">Appendix</h1>

{{#coverageInfo}}
<h2>Coverage of Haskell Prelude</h2>

<h3>Prelude functions supported in Nodash</h3>
<ul>
{{#functionsInBoth}}
  <li>{{.}}</li>
{{/functionsInBoth}}
</ul>

<h3>Prelude functions missing from Nodash</h3>
<ul>
{{#functionsMissing}}
  <li>{{.}}</li>
{{/functionsMissing}}
</ul>

<h3>Nodash-specific additions</h3>
<ul>
{{#functionsInNodashOnly}}
  <li>{{.}}</li>
{{/functionsInNodashOnly}}
</ul>
{{/coverageInfo}}

</div>

<a href="{{repository.url}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
$(function () {
  var $searchField = $('#search-field');
  $searchField.on('keyup', function () {
    var value = $searchField.val().toLowerCase();
    $('.sidebar li').each(function () {
      var $this = $(this);
      if (!value || $this.text().toLowerCase().indexOf(value) >= 0) {
        $this.removeClass('hidden');
      } else {
        $this.addClass('hidden');
      }
    });
    $('.sidebar ul').each(function () {
      var $this = $(this);
      console.log($this.find('li').length, $this.find('li.hidden').length);
      if ($this.find('li.hidden').length === $this.find('li').length) {
        $this.prev().addClass('hidden');
      } else {
        $this.prev().removeClass('hidden');
      }
    });
  });
});
</script>

</body>
</html>
